* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #ffffff;
  background-color: #1e2d3b;
  overflow: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 40px;
}

.album {
  width: calc(100% / 5 - 20px);
  padding: 10px;
  margin: 10px;
  margin-bottom: 10px;
  background-color: #2e3a46;
  border: 1px solid #000000;
  border-radius: 10px;
  cursor: pointer;
}
.album:hover > img {
  transform: scale(0.9);
}

.album > img {
  width: 100%;
  margin-bottom: 15px;
}
.album > h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}
.album > p {
  font-size: 0.9em;
}
.album > span {
  font-size: 0.7em;
}
